$color-white: #fff;
$color-grey-f9: #f9f9f9;
$color-grey-f2: #f2f2f2;
$color-grey-e7: #e7e7e7;
$color-grey-e0: #e0e0e0;
$color-grey-d7: #d7d7d7;
$color-grey-d0: #d0d0d0;
$color-grey-c5: #c5c5c5;
$color-grey-cc: #ccc;
$color-grey-bb: #bbb;
$color-grey-aa: #aaa;
$color-grey-99: #999;
$color-grey-77: #777;
$color-grey-66: #666;
$color-grey-55: #555;
$color-grey-4e: #4e4e4e;
$color-grey-33: #333;
$color-grey-1b: #1b1b1b;
$color-black: #000;

$color-tan: #e7e1dc;
$color-grey-tan: #ac9b8f;
$color-dark-tan: #baa188;
$color-gold-tan: #c69c6d;
$color-brown: #603913;

$color-red: #bf1e2e;
$color-dark-red: #7a0000;
$color-yellow: #FCC331;
$color-light-blue: #20AFCF;
$color-blue: #2896d3;
$color-dark-blue: #043665;
$color-green: #21C25E;
$color-dark-green: #145432;
$color-dark-teal: #132f37;

$color-primary-accent: $color-yellow;
$color-secondary-accent: $color-dark-teal;
$color-youtube-black: $color-grey-1b;
$color-facebook-blue: #3b579d;

$font-arial: Arial, Verdana, sans-serif;
$font-georgia: Georgia, "Times New Roman", serif;
$font-roboto-regular: RobotoRegular, $font-arial;
$font-roboto-medium: RobotoMedium, $font-arial;
$font-roboto-bold: RobotoBold, $font-arial;
$font-robotoslab-regular: RobotoSlabRegular, $font-arial;
$font-robotoslab-bold: RobotoSlabBold, $font-arial;
$font-monospace: monospace;

$font-default-color: $color-black;
$font-default-size: 13px;
$font-default-content-line-height: 1.4;

$html-entity-nbsp: "\a0";

$bp-mobile-landscape: (min-width 480px);
$bp-mobile-only: (max-width 767px);
$bp-tablets-portrait: (min-width 768px);
$bp-tablets-landscape: (min-width 1024px);
$bp-desktop: (min-width 1280px);
$bp-desktop-wide: (min-width 1400px);

$constraint-max-width: 980px;

$spacing-mobile-horizontal: 20px;
$spacing-desktop-horizontal: 30px;
$spacing-between-boxes: 20px;

$font--web-root-path: "/_fonts";