$feature-banner-aspect-ratio: 670 / 200;

/* featured banners */
.featured_banners {
	position: relative;
	width: 210px;
	height: 210px / $feature-banner-aspect-ratio;
	margin: 0 auto;

	div.tab-items {
		position: absolute;
		bottom: 3px;
		left: 10px;
		z-index: 10;
	}

	ul.tab-items {
		@include resetMenu;
	}

	li {
		display: inline-block;
		background-color: $color-white;
		width: 16px;
		height: 16px;
		margin-right: 5px;
		border-radius: 2px;
		cursor: pointer;
		transition: all 0.5s;

		&.tab-selected {
			background-color: #2896D3;
			border-radius: 10px;
		}

		span.label {
			display: none;
		}
	}

	.tab-content {
		position: absolute;
		left: 0;
		top: 0;

		p {
			margin: 0;
		}
	}

	.progress {
		height: 2px;
		background-color: #2896D3;
		position: absolute;
		bottom: 0;
		left: 0;
	}

	img {
		display: block;
		width: 100%;
		height: auto;
	}

	@include breakpoint($bp-mobile-landscape) {
		width: 380px;
		height: 380px / $feature-banner-aspect-ratio;
	}

	@include breakpoint($bp-tablets-portrait) {
		width: 670px;
		height: 670px / $feature-banner-aspect-ratio;

		img {
			max-width: none;
		}
	}
}