/* message containers */
.message-container,
.message_container {
	margin: 0 0 10px;
	border: 1px solid #EAD65C;
	background-color: #FFF5BA;
	font-size: 13px;
	text-align: left;

	&.empty {
		display: none;
	}

	a {
		color: #A08F29;

		&:hover {
			text-decoration: none;
		}
	}

	.message {
		color: #A08F29;
		margin: 10px;
	}

	.error {
		padding-left: 24px;
		background: 0 0 transparent url(/resources/dyn/files/182937z511810f4/_fn/message-error.png) no-repeat;
	}

	.warning {
		padding-left: 24px;
		background: 0 0 transparent url(/resources/dyn/files/182685z57beef2e/_fn/message-warning.png) no-repeat;
	}
}

.login .message-container .important {
	padding-left: 24px;
	background: 0 0 transparent url(/resources/dyn/files/182937z511810f4/_fn/message-error.png) no-repeat;
}