/* paging */
.paging {
	text-align: center;
	padding: 0 20px;

	.pager {
		display: inline-block;
		padding: 5px;
	}

	.pages {
		.page {
			display: inline-block;
		}

		.cur {
			border-bottom: 8px solid $color-primary-accent;
		}
	}

	.control {
		display: inline-block;

		a {
			font-size: 13px;
			font-family: $font-roboto-medium;
			text-transform: uppercase;
			text-decoration: none;
			padding: 2px 4px;
			transition: all 0.5s;
			border-bottom: 8px solid transparent;
			color: $color-grey-66;

			&:hover {
				border-bottom: 8px solid $color-grey-cc;
			}
		}
	}

	.control,
	.page {
		.val {
			padding: 0 7px;
			display: block;
		}
	}
}