@import "../../libs/jquery.fancybox";

.fancybox-skin {
	background: $color-light-blue;
	border-radius: 0;
}

.fancybox-outer {
	background: $color-white;
}

.fancybox-content {
	padding: 20px;
}

.fancybox-title {
	position: relative;
	background: $color-blue;
	color: $color-white;
	font-family: $font-roboto-medium;
	font-size: 18px;
	padding: 10px;
	border: 2px solid $color-white;
}