/* progress bar */
.progress_bar {
	background: $color-secondary-accent;
	border-radius: 4px;
	position: relative;

	.progress_con {
		border-radius: 3px;
		display: block;
		overflow: hidden;
	}

	.progress {
		height: 11px;
		display: block;
		background-color: $color-primary-accent;
	}
}