@import "../../config/base-import";

.checkout {
  margin: 0 0 30px;

	input[type="radio"],
	input[type="checkbox"] {
		margin: 4px 0 0;
		margin-top: 1px;
		line-height: normal;
		cursor: pointer;
	}

	input[type="file"],
	input[type="image"],
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	input[type="radio"],
	input[type="checkbox"] {
		width: auto;
	}

	fieldset {
		padding: 0;
		margin-bottom: 20px;
		border: none;
		margin-left: auto;
		margin-right: auto;
		width: 240px;

		legend {
			font-family: $font-roboto-bold;
			color: $color-secondary-accent;
		}

		label,
		.label {
			font-family: $font-roboto-medium;
			font-size: 14px;
			display: block;
		}

		.user-entry-required {
			.label,
			label {
				&:before {
					content: "*";
					color: $color-secondary-accent;
					padding-right: 3px;
				}
			}
		}
	}

	.uneditable-input,
	select {
		width: 240px;
	}

	.double_entry_field,
	.contact_phone_number,
	.name .given_name,
	.name .middle,
	.name .family_name,
	.address .address_line,
	.address .city,
	.address .region,
	.address .postal_code,
	.address .country,
	.credit_card_type,
	.credit_card_name,
	.credit_card_account,
	.credit_card_ccid,
	.credit_card_expiration {
		margin-bottom: 10px;
	}

	.credit_card_ccid {
		input {
			width: 50px;
		}
	}

	.phone_number {
		display: inline-block;

		.format,
		.nanp_example {
			display: none;
		}

		.number {
			label {
				width: auto;
				display: inline;
				margin-right: 0;
			}

			input.nanp {
				width: 100px;
				margin-right: 5px;
			}

			input.nanp_extension {
				width: 60px;
			}
		}
	}

	.phonenumber_existing,
	.address_existing {
		display: none;
	}

	select#billing_region {
		//MIWT being dumb and setting it to block as inline style
		display: inline-block !important;
	}

	@include breakpoint($bp-tablets-portrait) {
		fieldset {
			width: 460px;

			label,
			.label {
				display: inline-block;
				margin: 5px 0 0;
				margin-right: 15px;
				width: 200px;
				text-align: right;
			}
		}

		select {
			margin-left: 4px;
		}
	}
}

.shoppingcart,
.checkout {
	table {
		margin-bottom: 10px;
		border-collapse: collapse;

		td {
			padding: 3px;
			border-top: 1px solid #e5e5e5;
		}
	}

	button {
		margin-right: 5px;
	}
}

.name_field,
.address_field {
	> .label {
		display: none;
	}
}

.rtb,
.ctb {
	label,
	.label {
		width: auto;
	}
}

.genform .order_summary .quantity input[type="text"] {
  width: auto;
}

.order_summary {
	margin-bottom: 40px;
	font-size: 13px;

	table {
		width: 100%;
	}

	th {
		font-weight: normal;
		font-family: $font-roboto-bold;
		text-align: left;
	}

	.total td {
		font-family: $font-roboto-bold;
		color: $color-secondary-accent;
	}

	td.remove {
		label {
		}
	}
}

.credit_card_expiration select {
  width: 105px;
}

.payment_method {
	label {
		width: auto;
		vertical-align: baseline;
	}

	input[type="radio"] {
		display: inline-block;
		vertical-align: baseline;
	}
}

.category,
.direct_contribution {
	.extra_value_renderer {
		display: inline-block;
		height: 20px;
		font-size: 14px;
		margin-bottom: 9px;
		line-height: 20px;
		color: #555555;
		border-radius: 3px;
	}
}

.direct_contribution .extra_value_renderer {
	height: 50px;
	margin-bottom: 0;
	line-height: 20px;
	vertical-align: top;

	input,
	label {
		margin: 0;
		vertical-align: middle;
	}
}

.actions.quantity_update {
	text-align: right;
}

.actions.checkout {
	text-align: center;
}