html, body {
  margin: 0;
  padding: 0;
}

body {
  background: transparent;
  color: #666666;
  font-family: Arial, Verdana, sans-serif;
}

a img {
  border: none; 
}

a {
  color: #2896d3;
  text-decoration: none;
}

a:hover {
  color: #21C25E;
}

a.transition {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; 
}