@import "../../config/base-import";

#e_content_wrapper_wc_0 {
  position: static; /* boooooo MIWT */
}

#aside,
#main {
  float: left;
}

#main {
  width: 680px;
  margin: 40px 0 30px;
  font-size: 14px;
}

.content h1,
.content h2 {
  margin-top: 0;
}

#aside {
  width: 210px;
  padding: 40px 35px 15px 15px;
}

#body_heading {
  background-color: #eaeaea;
  border-bottom: 1px dotted #e0e0e0;
}

.large_tile {
  margin-left: 16px; 
}

#ui-datepicker-div {
  font-size: 14px; 
}

#user {
  margin: 0 0 30px;
  background: #fff;
  box-shadow: 1px 1px 5px rgba($color-black,0.3);
  text-align: center;
}

#user .photo {
  width: 210px;
  height: 210px;
  background: #d0d0d0;
}

#user .photo img {
  display: block;
}

#user h2 {
  margin: 0;
  padding: 0 20px;
  color: #333;
}

#user .info .raised {
  margin: 0;
  background-color: #2896d3;
  color: $color-white;
  padding: 10px;
  font-family: $font-museo-regular;
  font-size: 14px;
}

#user .info .raised .val {
  font-size: 28px;
  display: block;
}

#user .info .raised .label {
  color: #aee1ff;
  margin-top: -3px;
  display: block;
}

/* project tiles */
.large_tile .actions {
  position: absolute;
  top: 4px;
  right: 4px;
}

/* search related result styles */
table.search_results {
  width: 100%;
  border-collapse: collapse;
  margin: 0 0 20px; 
}

table.search_results .column_visibility {
  display: none;
}

table.search_results thead th {
  padding: 10px 3px 3px;
  text-align: left;
  border-bottom: 3px solid #2896d3;
  font-size: 16px;
  color: #2896d3;
}

table.search_results thead th.action_column {
  text-align: right; 
}

table.search_results tbody td {
  padding: 3px;
  border-bottom: 1px dotted #ddd;
  font-size: 12px;
  transition: all 0.5s;
}

table.search_results tbody .even td {
  background-color: #fff;
}

table.search_results tbody .odd td {
  background-color: #F9F9F7;
}

table.search_results tbody .no_data td {
  padding: 8px;
}

table.search_results tbody tr:hover td {
  background-color: #feffdd;
}

table.search_results td.action_column {
  width: 1%;
  white-space: nowrap;
  text-align: right;
}

/* tab styles */
.tab-container {
  margin: 30px 0 0;
}

ul.tab-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tab-items li {
  font-size: 14px;
  font-family: $font-museo-regular;
  text-transform: uppercase;
  display: inline-block;
  padding: 2px 12px;
  cursor: pointer;
  transition: all 0.5s;
  border-bottom: 8px solid transparent;
}

.tab-items li:hover {
  border-bottom: 8px solid #21C25E;
}

.tab-items li.tab-selected {
  border-bottom: 8px solid #2896d3;
}

.tab-items li a {
  color: #666; 
}

.tab-container .tab-content {
  margin: 10px 0 0;
}


/* paging */
.pager_search_results .pager-top,
.pager_search_results .pager_bottom {
  text-align: center;
  padding: 0 20px;
}

.pager_search_results .pages .page {
  display: inline-block;
}

.pager_search_results .pages .selected_page {
  border-bottom: 8px solid #2896d3;
  font-size: 16px;
}

.pager_search_results .controls {
  display: inline-block;
}

.pager_search_results .controls a {
  font-size: 13px;
  font-family: MuseoSansRegular, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;  
  padding: 2px 4px;
  transition: all 0.5s;
  border-bottom: 8px solid transparent;
  color: #666;
}

.pager_search_results .controls a:hover {
  border-bottom: 8px solid #21C25E;
}

.pager_search_results .controls .control,
.pager_search_results .pages .page {
  padding: 0 7px;
}


/* image crop editor */
.sub_editor .image_crop {
  margin: 20px 0;
}

.sub_editor .image_crop label {
  font-weight: bold;
  font-size: 12px;
  padding: 5px 0;
  display: block;
  margin: 20px 0 0;
}


/* search related constraint styles */
.no_search_bar_search .search_bar {
  display: none;
}

.search .entity_actions {
  text-align: right;
  margin: 0 0 10px;
}

.search .pager .pager-top {
  display: none;
}

.search_bar .constraints,
.search_bar .result_limit {
  display: inline-block;
}

.search_bar .constraint {
  display: inline-block;
  white-space: nowrap;
  padding: 0 10px 5px 0;
}

.search_bar .constraint label {
  display: block;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 0;
  width: auto;
  margin: 0;
}

.search_bar .constraint .cal input[type=text] {
  width: 100px;
}

.search_bar .actions {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

#ie7only .search_bar .actions {
  vertical-align: bottom;
  padding-bottom: 6px;
}

/* instructions */
.genform .instructions {
  font-size: 12px;
  border: 1px solid #EAD65C;
  background-color: #FCEFA1;
  padding: 0 10px;
  margin: 10px 0;
}

/* fix ie issue with spans */
span.miwt_button {
  margin-right: 3px;
}
