@import "../../config/base-import";

#main {
	margin-top: 15px;

  @include breakpoint($bp-tablets-landscape) {
    float: left;
    width: 690px;
  }
}

#aside {
	margin-top: 15px;

  @include breakpoint($bp-tablets-landscape) {
    float: left;
    width: 250px;
    padding-right: 10px;
  }
}

#search {
  background-color: #eaeaea;
  border-bottom: 1px dotted #e0e0e0;
}

#search-wc-0 {
	padding-left: $spacing-mobile-horizontal;
	padding-right: $spacing-mobile-horizontal;
	@include clearfix(true);
}

.search_listing {
  .noresults {
    margin: 15px 0 15px 20px;
    background: $color-white;
    padding: 20px;
    box-shadow: 1px 1px 4px rgba($color-black, 0.2);
  }

  .search_criteria {
    margin: 15px 15px 0;
    background: $color-white;
    padding: 10px;
    box-shadow: 1px 1px 4px rgba($color-black, 0.2);
    color: $color-secondary-accent;
  }
}