@import "../../config/base-import";
@import "../../libs/normalize";


body {
  background: transparent;
  color: #666666;
  font-family: Arial, Verdana, sans-serif;
}

@import "../../components/partials/base-elements";
@import "../../components/partials/progress-bar";
@import "../components/tiles/_project-tile";