@import "../../config/base-import";

.page {
  background: url(/resources/dyn/files/182088z2d82ef21/_fn/awesome_dark.jpg) no-repeat center top fixed #999;
  min-height: 680px;

  &#faith {
    background-image: url(/resources/dyn/files/185326zaf44ac4c/_fn/landing-faith.jpg);
  }

  &#individual {
    background-image: url(/resources/dyn/files/185327zd8439cda/_fn/landing-individual.jpg);
  }

  &#nonprofit {
    background-image: url(/resources/dyn/files/185328z48fc814b/_fn/landing-nonprofits.jpg);
  }

  &#schools {
    background-image: url(/resources/dyn/files/185329z3ffbb1dd/_fn/landing-schools.jpg);
  }

  &#sports {
    background-image: url(/resources/dyn/files/185330z5f3c3838/_fn/landing-sports.jpg);
  }
}

#content_blocks-wc-0,
#content_blocks2-wc-0,
#intro-wc-0 {
  margin: 0 auto;
  width: $constraint-max-width;
}

#intro {
  position: relative;

  &-wc-0 {
    padding: 1px 0 100px;
    color: #fff;
    min-height: 500px;
  }

  .phone {
    font-family: 'Lobster13Regular',arial,helvetica,sans-serif;
    font-size: 18px;
  }

  .menu {
    ul {
      @include resetMenu;
    }

    li {
      display: inline-block;
    }
  }

  #create_links {
    margin-top: 90px;
    text-align: center;

    li {
      margin: 0 10px;
    }
  }

  #contact {
    margin-top: 18px;
    left: 50%;
    margin-left: 330px;
    position: absolute;
    top: 0;

    li {
      margin-left: 10px;
    }
  }

  #quote {
    width: 600px;
    margin: 0 auto;

    p {
      font-style: italic;

      &:before,
      &:after {
        content: "";
        background: left top transparent url(/resources/dyn/files/185358z7bd178c/_fn/quote.png) no-repeat;
        width: 15px;
        height: 10px;
        display: inline-block;
      }

      &:before {
        margin-bottom: 5px;
        margin-right: 2px;
      }

      &:after {
        margin-left: 2px;
        margin-bottom: 5px;
      }
    }
  }

  h1 {
    color: #fff;
    font-size: 48px;
    text-align: center;
  }
}

#content_blocks {
  background: #fff;
}

#content_blocks2 {
  background: #2896d3;
  padding-bottom: 406px;
  color: #fff;
}

.more_link {
  text-align: center;
  position: absolute;
  bottom: 0; 
  left: 0;
  right: 0;

  a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'BebasNeueRegular';
    font-size: 29px;
    font-weight: normal;
    width: 180px;
    height: 65px;
    line-height: 65px;
    display: block;
    margin: 0 auto;

    &:before,
    &:after {
      content: "";
      background-color: #fff;
      position: absolute;
      top: 0;
      height: 65px;
    }

    &:before {
      left: 0;
      right: 50%;
      margin-right: 90px;
    }

    &:after {
      left: 50%;
      right: 0;
      margin-left: 90px;
    }
  }

}

.features {
  padding: 40px 0;

  table td {
    vertical-align: top;
    width: 300px;
    padding: 0 10px;
    text-align: center;
  }

  td {
    h2 {
      font-size: 24px;
      margin: 20px 0 5px 0;
    }

    p {
      font-size: 14px;
      margin: 0 40px;
      line-height: 18px;
    }
  }
}