#body_heading {
  background-color: #eaeaea;
  border-bottom: 1px dotted #e0e0e0;
}

#body_heading  h1 {
  color: #333; 
  margin: 0;
  padding: 20px 0;
  font-size: 24px;
}

#e_content_wrapper_wc_0 {
  zoom: 1;
}

#e_content_wrapper_wc_0:before,
#e_content_wrapper_wc_0:after {
  content: "";
  display: table;
}

#e_content_wrapper_wc_0:after {
  clear: both;
}

#body {
  float: left;
  width: 650px;
  margin: 0 0 30px;
}

#aside {
  float: left;
  width: 300px;
  margin-left: 30px;
  margin-top: 10px;
}