#aside,
#main {
  float: left;
}

#main {
  width: 680px;
  position: relative;
  padding: 20px;
  margin: 20px 0 0;
  font-size: 14px;
}

#aside {
  width: 220px;
  padding: 20px 25px 15px 15px;
}

#parent {
  margin: 0 0 30px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  text-align: center;
}

#parent .photo {
  margin: 10px 0 0;
  width: 220px;
  height: 220px;
  background: #d0d0d0;
}

#parent .photo img {
  display: block;
}

#parent .info{
  margin: 0;
  background-color: #2896d3;
  color: #fff;
  padding: 10px;
  font-family: MuseoSansRegular, Arial, sans-serif;
  font-size: 14px;
}

#parent .info .projects {
  margin: 10px 0 0;
}

#parent .info .raised .val,
#parent .info .projects .val {
  font-size: 28px;
  display: block;
}

#parent .info .raised .label,
#parent .info .projects .label {
  color: #aee1ff;
  margin-top: -3px;
  display: block;
}

#parent .social {
  padding: 10px 0;
  background: #fff;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

#parent .social .si {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}

#parent .social .pinterest {
  margin-top: 16px;
}
