@import "../../config/base-import";

a,
button,
input {
	&.sbutton {
		@include style-button-base;
	}

	&.cbutton {
		@include style-button-override(rgb(169,219,128));
	}

	&.dbutton {
		@include style-button-override($color-grey-e0, $color-grey-aa, $hover: false, $active: false);
		cursor: default;
	}

	&.xlbutton {
		@include style-button-override($font-size: 16px, $padding: 10px 35px);
		text-transform: uppercase;
		border-radius: 20px;
	}
}

.sbutton {
	.icon,
	.small_icon {
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
	}

	.text {
		display: inline-block;
		vertical-align: middle;
		text-align: left;
	}
}

.cbutton .subtext {
	display: block;
	color: #107d10;
	font-size: 12px;
	margin-top: -3px;
}