div.message-container,
div.status_container {
 background: #FFC;
 border: 1px #CCC solid;
 text-align: left;
 width: 98%;
 margin: 0 auto 8px; 
 -moz-border-radius: 6px;
 border-radius: 6px;
}
.status_container_disabled, 
.status_container_disabled_con{
 display: none;
}
.message-container div.message,
.status_container .message {
 padding: 10px 23px;
 min-height: 16px;
 height: auto;
}
div.message.info{
 background: url(/resources/all/docroot/cms/icons/x16/message_info.png) no-repeat 4px 10px;
}
div.message.important{
 background: url(/resources/all/docroot/cms/icons/x16/message_warning.png) no-repeat 4px 10px;
}
div.message.error{
 background: url(/resources/all/docroot/cms/icons/x16/message_error.png) no-repeat 4px 10px;
}