@import "../../config/base-import";

.my_projects {
  .entity_actions {
    margin: 20px 0;
  }

	.premium_account {
		margin: 20px 0;

		.val {
			display: inline-block;
			margin-left: 5px;
		}
	}
}

.projects .draft,
.projects .active,
.projects .finished,
.projects .closed {
  clear: both;
}

.purl .val .purl_wrap input[type=text] {
  width: 190px;
}

.media_tab {
	.photos {
		margin: 0 0 40px;
	}

	.photos,
	.youtube_links {
		label {
			float: left;
			font-family: $font-roboto-bold;
			font-size: 13px;
			width: 110px;
			padding: 5px 0 4px;
		}

		.entity_actions {
			clear: both;
		}

		.richlist .element .actions {
			text-align: center;
			padding: 10px 5px 5px;
			background-color: $color-grey-f5;
		}
	}

	.richlist .selector {
		display: none;
	}

	.image_gallery {
		margin-left: 120px;

		.richlist .element {
			float: left;
			width: 160px;
			margin-right: 10px;
			margin-bottom: 10px;
			background: $color-white;
			box-shadow: 1px 1px 3px rgba($color-black, 0.2);

			.image {
				height: 100px;
				background: $color-grey-33;
				overflow: hidden;
			}

			img {
				display: block;
				max-width: 100%;
				margin: 0 auto;
			}

			.caption {
				height: 41px;
				font-size: 11px;
				padding: 5px;
				display: block;
			}
		}
	}

	.youtube_links {
		.video_gallery {
			margin-left: 120px;
		}

		.richlist .element {
			margin-bottom: 20px;
			background: $color-white;
			box-shadow: 1px 1px 3px rgba($color-black, 0.2);

			.contents {
				padding: 10px;
			}

			.title {
				font-size: 11px;
				padding: 5px;
				display: block;
			}

			.actions {
				text-align: left;
			}
		}
	}
}