.genform .main_actions {
  text-align: center;
  padding: 10px;
  background: #FCEFA1;
  border-bottom: 2px solid #EAD65C;
}

.genform .search {
	.entity-actions,
	.entity_actions {
		background: #666;
		padding: 10px;
		border-bottom: 2px solid #fff;
	}
}

/* search related result styles */
table.miwt-table,
table.pager-search-results {
  width: 100%;
  border-collapse: collapse;
  margin: 0 0 20px; 
}

table.miwt-table {
	thead {
	  th {
		  padding: 10px 3px 3px;
		  text-align: left;
		  border-bottom: 3px solid #2896d3;
		  font-size: 16px;
		  color: #2896d3;
	  }

		th.action_column,
		th.actions {
			text-align: right;
			white-space: nowrap;
		}
	}

	tbody {
		td {
			padding: 3px;
			border-bottom: 1px dotted #ddd;
			font-size: 12px;
			transition: all 0.5s;
		}

		.even td {
			background-color: #fff;
		}

		.odd td {
			background-color: #F9F9F7;
		}

		.no_data td {
			padding: 8px;
		}

		tr:hover td {
			background-color: #feffdd;
		}
	}

	td.action_column,
	td.actions {
		width: 1%;
		white-space: nowrap;
		text-align: right;
	}
}

/* tab styles */
.tab-container {
  margin: 30px 0 0;

	.tab-content {
		margin: 10px 0 0;
	}
}

ul.tab-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tab-items li {
  font-size: 14px;
  font-family: MuseoSansRegular, Arial, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  padding: 2px 12px;
  cursor: pointer;
  transition: all 0.5s;
  border-bottom: 8px solid transparent;

	&:hover {
		border-bottom: 8px solid #21C25E;
	}

	&.tab-selected {
		border-bottom: 8px solid #2896d3;
	}

	a {
		color: #666;
	}
}


/* paging */
.pager-search-results,
.pager-search_results {
	.pager-top,
	.pager-bottom {
		text-align: center;
		padding: 0 20px;
	}

	.pages {
		.page {
			display: inline-block;
		}

		.selected-page {
			border-bottom: 8px solid #2896d3;
			font-size: 16px;
		}
	}

	.controls {
		display: inline-block;

		a {
			font-size: 13px;
			text-transform: uppercase;
			text-decoration: none;
			padding: 2px 4px;
			transition: all 0.5s;
			border-bottom: 8px solid transparent;
			color: #666;

			&:hover {
				border-bottom: 8px solid #21C25E;
			}
		}
	}

	.controls .control,
	.pages .page {
		padding: 0 7px;
	}
}

/* image crop editor */
.sub_editor .image_crop {
  margin: 20px 0;
}

.sub_editor .image_crop label {
  font-weight: bold;
  font-size: 12px;
  padding: 5px 0;
  display: block;
  margin: 20px 0 0;
}


/* search related constraint styles */
.no_search_bar_search .search-bar {
  display: none;
}

.search {
	.result-actions {
		text-align: right;
		margin: 10px 0;
	}

	.entity-actions {
		text-align: right;
	}

	.pager .pager-top {
		display: none;
	}
}

.search-bar,
.search_bar {

	.genform & {
		background: #2896D3;
		color: #fff;
		padding: 20px 20px;
		box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
		margin: 0 0 20px;
	}

	.constraints,
	.result_limit {
		display: inline-block;
	}

	.constraint {
		display: inline-block;
		white-space: nowrap;
		padding: 0 10px 5px 0;

		label {
			display: block;
			font-size: 12px;
			font-weight: normal;
			text-transform: uppercase;
			padding: 0;
			width: auto;
			margin: 0;
		}

		.cal input[type=text] {
			width: 100px;
		}
	}

	.actions {
		display: inline-block;
	}
}

/* instructions */
.genform .instructions {
  font-size: 12px;
  border: 1px solid #EAD65C;
  background-color: #FCEFA1;
  padding: 0 10px;
  margin: 10px 0;
}

/* visibility selector */
div.column-visibility-selector ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* property editor/viewer */
.property_wrapper {
	.prop {
		display: table;
		width: 100%;

		> label {
			display: table-cell;
			width: 200px;
			font-weight: bold;
			border-right: 3px solid #d0d0d0;
			padding: 10px;
			vertical-align: top;
			text-align: right;
			transition: all 0.25s;
		}

		> .val {
			display: table-cell;
			padding: 10px 15px;
			vertical-align: top;
			background: #f5f5f5;
			border-bottom: 1px dotted #d0d0d0;
			transition: all 0.25s;
		}

		&:hover {
			> label {
				background: #21C25E;
				color: #fff;
			}

			> .val {
				background-color: #eaeaea;
			}
		}

		&.checkbox {
			display: block;
			margin-left: 220px;
			width: auto;
			border-left: 3px solid #D0D0D0;

			> .val {
				display: block;
			}
		}
	}

	.persistence_actions {
		text-align: right;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}