/** Workspace Styles. */


.workspace button.show_hide_btn{
 border:none;
 -moz-border-radius:0;
 border-radius:0;
 background: url(/resources/all/files/_SiteRoot/SITE1/VS4/Tabs/navigationslider.gif) no-repeat left bottom;
 font-size:100%; /*For EM calc*/
 height:1.5em;
 overflow:hidden;
 text-indent:-4000em;
 width: 50px;
 padding:0;
}
div.workspace_search,
.task-container div.task{
 background-color: #fff;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
 padding: 1em;
}
.task_container div.task.tab-container,
div.workspace_ts {
 background-color:transparent;
 border:none;
 padding:0;
}
.workspace_ts div.tasks{
 margin-top:1em;
}
.workspace div.uitask{
 border-radius: 5px;
 background: #fff;
}
div.uitask-manager{
 float:left;
}
.uitask-info label{
 font-weight: bold;  
 width: 8em;
 float: left;
 clear: left;
}
div.uitask-info{
 line-height: 1.25em;
 padding: 5px;
 position: absolute;
 max-width: 35em;
 z-index: 15;
 background: white;
 border-radius: 5px;
 border: 1px solid #B9B196;
}
.uitask-info a.close:before{
  content: '['; }
.uitask-info a.close:after{
  content: ']';
}
.uitask-info a.close{
 float: right;
 padding: .5em .5em .5em 29px;
 background: url(/resources/all/files/_SiteRoot/SITE1/VS4/Actions/24/cancel.png) no-repeat;
}
div.uitask-manager-con{
 padding: .5em .25em;
 margin: .25em;
 border-radius: 10px;
 background-color: whiteSmoke;
 overflow:hidden;
 clear: both;
 zoom:1;
  font-size: 13px;
}
div.task_count_0{
 background-color:inherit; /*no worky ie*/
 padding:0;
}
div.sub-uitask-list{
 float:right;
 font-size:.9em;
}
.sub-uitask-list div.sub-uitask-list{
 font-size:.9em;
}
div.uitask{
 float: left;
 border: 1px solid #eee;
 margin: 0 5px 0 2px;
 padding: 5px 8px;
}
.sub-uitask-list div.uitask{
 border:none;
 margin: 1px 3px 0 1px;
 padding: 0px 2px;
}
.sub-uitask-list .uitask.selected{
 border:none;
 border-bottom:1px dotted #ccc;
 box-shadow:none;
}
.uitask.selected{
 background: #fff;
 border-color: #aaa;
 box-shadow:1px 1px 2px rgba(0,0,0,.1);
}
.uitask-type-con,
a.uitask-label,
.uitask .actions{
 opacity: .7;
}
.selected > .uitask-type-con,
.selected > a.uitask-label,
.selected > .actions{
 opacity: 1;
}
/* end workaround */
a.uitask-label{
 text-decoration: none;
 color: #002;
}
a.uitask-label:hover{
 text-decoration: underline;
}
.uitask-actions button{
 width: 16px;
 height: 16px;
 border: none;
 padding: 1px 2px;
 text-indent: -4000em;
 background-repeat: no-repeat;
 background-color: transparent;
 background-position: left top;
 cursor: pointer;
 cursor: hand;
}
.uitask button.info{
 background-image: url(/resources/all/docroot/cms/icons/x16/info_plus_hover.png);
}
.uitask button.close{
 background-image: url(/resources/all/docroot/cms/icons/x16/close_plus_hover.png);
}
.uitask button:hover{
 background-position: left bottom;
}
img.uitask-type{
 width: 22px;
 height: 22px;
}
.sub-uitask-list img.uitask-type{
 width: 20px;
 height: 20px;
}
.sub-uitask-list .sub-uitask-list img.uitask-type{
 width: 18px;
 height: 18px;
}
.uitask button,
img.uitask-type,
a.uitask-label{
 vertical-align: middle;
}
span.uitask-type{
 display: none;
}
