@import "../../config/base-import";

#body-wc-0 {
	text-align: center;
}

.fbox {
	position: relative;
	background: $color-white;
  display: inline-block;
	vertical-align: top;
  width: 33%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 4px solid transparent;
  border-radius: 4px;
  transition: all 0.25s;
	text-align: left;

	&.active {
		border: 4px solid $color-primary-accent;
	}

	& + & {
		margin-left: 20px;
	}

	.intro {
		margin: -20px -20px 20px;
		padding: 10px 20px;
		transition: all 0.25s;

		p {
			margin: 0;
			color: #aaa;
			font-size: 12px;
			transition: all 0.25s;
		}
	}

	h2 {
		margin: 0;
	}
}

.genform {
	label {
		font-size: 12px;
		display: block;
	}

	.optin,
	.eula {
		label {
			display: inline;
		}
	}
}

.site-login {
	.title {
		display: none;
	}

	.field {
		margin: 0 0 10px;

		input {
			width: 100%;
		}
	}

	.actions {
		text-align: right;
		font-size: 12px;
		margin-top: 8px;
	}

	.retrieve-password {
		font-size: 12px;
		position: absolute;
		bottom: 30px;
		left: 20px;

		p {
			margin: 0;
		}

		a {
			text-decoration: none;
			color: $color-blue;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.fb-login {
	text-align: center;
	position: relative;
	margin-bottom: 20px;

	&:before {
		content: "or";
		display: block;
		position: absolute;
		bottom: -11px;
		left: 50%;
		transform: translateX(-50%);
		background-color: #fff;
		padding: 2px 10px;
		color: #ccc;
	}

	&:after {
		content: "";
		display: block;
		border-bottom: 1px solid #ddd;
		text-align: center;
		margin-top: 20px;
	}
}


#facebook .eula .agree {
  margin: 0 0 10px;
}

#create {
	.user_name,
	.first_name,
	.last_name,
	.optin,
	.password .double_entry_first,
	.password .double_entry_second,
	.eula {
		margin: 0 0 10px;
	}

	input[type=text],
	input[type=password] {
		width: 100%;
	}

	.password .instructions {
		display: none;
	}

	.optin {
		label {
			margin-left: 5px;
		}
	}

	.eula {
		input {
			margin-right: 5px;
		}

		p {
			display: inline;
			font-size: 12px;
		}

		a {
			text-decoration: none;
			color: $color-blue;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.actions {
		text-align: center;
	}
}