@import "../../config/base-import";

.reset-password-intro,
.retrieve-password {
	margin: 20px 0;
}

.retrieve-password div.email,
.password-reset .username,
.password-reset .password,
.password-reset .password-verification-con {
  background-color: $color-grey-e7;
  box-shadow: 1px 1px 3px rgba($color-black, 0.2);
  margin: 0 0 10px;
  padding: 10px;
}

.retrieve-password {
	.email input {
		width: 100%;
		display: block;
	}
}

.retrieve-password span.email,
.password-reset .label {
  color: $color-grey-33;
  font-size: 13px;
	font-family: $font-roboto-bold;
	display: block;
	margin-bottom: 5px;
}

.password-reset .title {
  display: none;
}
