@import "../../config/base-import";

#featured {
	position: relative;
}

.banner-slide {
	height: 430px;
}

.banner-slide-content {
	background-color: $color-grey-33;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;

	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: radial-gradient(600px at 50% 50% , rgba($color-black, 0.5) 0%, rgba($color-black, 0));
	}
}

.intro-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 416px;
}

.intro-text-link {
	margin-top: 20px;
}

.intro-ctas {
	padding: 40px 0;
	text-align: center;

	.cta {
		width: 33%;
		max-width: 160px;
		display: inline-block;
		vertical-align: top;
		margin-right: 75px;

		&:last-child {
			margin-right: 0;
		}
	}

	.cta-text {
		font-size: 16px;
		font-family: $font-robotoslab-regular;
		color: $color-grey-4e;
	}

	.cta-link {
		text-decoration: none;
	}
}