.faq .collapsible .article_heading {
  font-family: 'MuseoSansRegular',arial,helvetica,sans-serif;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}

.faq .collapsible {
  margin: 0 0 15px;
}

.faq {
  margin-bottom: 40px;
}

.faq h1 {
  font-family: 'MuseoSansRegular',arial,helvetica,sans-serif;
  font-size: 28px;
  color: #3195D2;
  padding: 0;
  margin: 0 0 15px;
}

.faq ol {
  margin: 0;
  padding: 0;
}

.faq .collapsible .collapsible-control.shown .article_heading,
.faq .collapsible .collapsible-control:hover {
  color: #333;
}

.faq .collapsible-shown p {
  margin-top: 0;
}

.faq .collapsible-control {
  -moz-transition: color 0.5s ease 0s;
  -webkit-transition: color 0.5s ease 0s;
  transition:color 0.5s ease 0s;
}


