#featured {
  background-color: #eaeaea;
  border-bottom: 1px dotted #e0e0e0;
 padding: 20px 0;
}

#featured_wc_0 {
  width: 980px;
  margin: 0 auto; 
}

#featured h1 {
  color: #333; 
  margin: 0;
  padding: 0;
  font-size: 24px;
}
.large_tile {
  margin-left: 16px; 
}

#content {
  margin: 0;
  line-height: 19px;
  font-size: 14px;
}

#content h2 {
  margin-top: 0;
}

#project_heading {
  border-top: 1px dotted #c0c0c0;
}

#project_heading h2 {
  float: left;
  margin-right: 20px;
  margin-top: 6px;
  margin-bottom: 0;
  padding-top: 10px;
}

#projects {
  padding-top: 10px;
}

#projects div.tab-items {
  padding: 10px 0;
}

#projects ul.tab-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

#projects ul.tab-items li {
  font-size: 14px;
  font-family: MuseoSansRegular, Arial, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  padding: 2px 12px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 8px solid transparent;
}

#projects ul.tab-items li.over {
  border-bottom: 8px solid #21C25E;
}

#projects ul.tab-items li.tab-selected {
  border-bottom: 8px solid #2896d3;
}

#projects ul.tab-items li .count {
  margin-right: 3px;
  padding: 1px 4px;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#projects ul.tab-items li.tab-selected .count {
  color: #2896D3;  
}

#projects ul.tab-items li.disabled {
  color: #aaa;
  border-bottom: none;
}

#projects ul.tab-items li.disabled .count {
  color: #999;
}
