@import "../../config/base-import";

.featured_banners {
	margin-bottom: 15px;
}

.search_listing .paging {
  margin: 10px 0 20px; 
}

#search .search_box {
	margin-top: 20px;

	@include breakpoint($bp-tablets-portrait) {
		float: right;
		margin-top: 14px;
		width: 200px;
	}
}

#aside {
  display: none;
}

#main {
	float: none;
  width: auto;
}