@import "../../config/base-import";

#featured_stores .stores {
  margin-top: 15px;
	margin-bottom: 15px;
  @include clearfix();
}

.term_menu {
  text-align: center;
  margin: 10px 0 20px;
}

.search_listing .results {
  @include clearfix();
}