#body_wc_0 {
  zoom: 1;
}

#body_wc_0:before,
#body_wc_0:after {
  content: "";
  display: table;
}

#body_wc_0:after {
  clear: both;
}

.fbox {
  float: left;
  width: 250px;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 20px;
  padding: 20px;
  border: 4px solid transparent;
  border-radius: 4px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.fbox.active {
  border: 4px solid #20AFCF;  
  background: #fff;
}

.fbox .intro {
  margin: -20px -20px 20px;
  padding: 10px 20px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.fbox.active .intro {
  background: #2A96D4;
  color: #fff;  
}

.fbox h2 {
  margin: 0;
}

.fbox .intro p {
  margin: 0;
  color: #aaa;
  font-size: 12px;  
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.fbox.active .intro p {
  color: #AEE1FF; 
}

#gen_login p.title {
  display: none;
}

#gen_login .username_con,
#gen_login .password_con {
  margin: 0 0 10px;
}

#gen_login .actions_con .reset_password {
  float: right;
  font-size: 12px;
  margin-top: 8px;
}

#fb_login .icon {
  width: 32px;
  height: 32px;
  background: 0 0 transparent url(/resources/dyn/files/179258zcef955d2/_fn/f_logo.png) no-repeat;
}

#create .user_name,
#create .first_name,
#create .last_name,
#create .optin,
#create .password .double_entry_first,
#create .password .double_entry_second,
#create .eula,
#facebook .eula .agree {
  margin: 0 0 10px;
}

#create .password .instructions {
  display: none;
}

#create .optin label {
  font-weight: bold;
}

#create .eula p {
  display: inline;
  font-size: 12px;
}

.genform label {
  text-transform: uppercase;
  font-size: 12px;
  display: block;
}

.genform .optin label,
.genform .eula label {
  display: inline;
  text-transform: none;
}
