@import "../../config/base-import";

#body_heading {
	background-color: #eaeaea;
	border-bottom: 1px dotted #e0e0e0;


	@include breakpoint($bp-tablet-portrait-only) {
		.fundraiser-summary {
			width: 650px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

#body {
	@include breakpoint($bp-tablets-portrait) {
		width: 650px;
		margin: 0 auto;
	}

	@include breakpoint($bp-tablets-landscape) {
		float: left;
		margin-bottom: 30px;
	}
}

#aside {
	@include breakpoint($bp-tablets-portrait) {
		width: 650px;
		margin: 0 auto;
	}

	@include breakpoint($bp-tablets-landscape) {
		float: left;
		width: 270px;
		margin-left: 20px;
		margin-top: 50px;
	}
}

#fav_manage {
  margin: 12px 0 10px;
  float: left;

	.fav_action_button {
		vertical-align: top;
		margin-right: 10px;

		.icon {
			margin-right: 0;
		}
	}
}

.tab-container {
	ul.tab-items {
		@include resetMenu;

		li {
			font-size: 14px;
			line-height: 14px;
			font-family: $font-roboto-medium;
			text-transform: uppercase;
			display: inline-block;
			padding: 10px 12px 2px;
			cursor: pointer;
			transition: all 250ms;
			border-bottom: 8px solid transparent;

			&.over {
				border-bottom-color: $color-secondary-accent;
			}

			&.tab-selected {
				border-bottom-color: $color-secondary-accent;
				background-color: $color-secondary-accent;
				color: $color-white;
			}
		}
	}
}

#sections {
	margin-top: 16px;

	.tab-content {
		padding: 20px;
		background: $color-white;
		box-shadow: 1px 1px 5px rgba($color-black, 0.3);
	}
}

#content {
	.banner_photo {
		margin-bottom: 10px;

		img {
			max-width: 100%;
			height: auto;
			display: block;
		}
	}

	.video-banner {
		margin-bottom: 10px;
	}

	.noembed-embed-inner {
		padding-bottom: percentage(9 / 16);
		position: relative;
		height: 0;

		iframe {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.noembed-meta-info {
		display: none;
	}

	.goals {
		line-height: 19px;
		font-size: 13px;
	}

	.info {
		text-align: center;
	}

	@include breakpoint($bp-tablets-portrait) {
		.info {
			float: right;
			margin: 0 0 10px 20px;
			max-width: 250px;
			min-width: 200px;
			text-align: right;
		}
	}
}

.parent_info {
	margin-bottom: 10px;
	text-align: left;

	.photo {
		display: none;
	}

	.owner {
		margin-top: 5px;
		font-size: 12px;

		.label {
			margin-right: 5px;
		}
	}

	.parent-link {
		@include style-content-link;
		font-family: $font-roboto-medium;
	}

	@include breakpoint($bp-tablets-portrait) {
		background: #f5f5f5;
		padding: 10px;
		border: 1px solid #efefef;
		@include clearfix();

		.owner {
			margin-left: 110px;

			.label {
				display: block;
			}
		}

		.photo {
			display: block;
			float: left;
			margin-right: 10px;
			width: 100px;
			height: 100px;
			background-color: $color-grey-d0;

			img {
				display: block;
			}
		}
	}
}

.project-meta {
  box-shadow: 1px 1px 5px rgba($color-black, 0.3);

  .info  {
    background-color: $color-white;
    padding: 20px;
    font-size: 18px;
	  position: relative;
  }

  .stats {
    .progress {
      font-size: 18px;
	    color: $color-secondary-accent;
	    margin-right: 5px;
	    font-family: $font-roboto-bold;
    }

    .goal {
      font-size: 13px;

      .amount {
	      font-family: $font-roboto-bold;
      }
    }
  }

	.contribute {
		margin-top: 20px;
	}

	.contribute-heading {
		color: #aaa;
		font-size: 13px;
		padding-bottom: 2px;
	}

	.contribute-methods {
		border: 1px solid darken($color-primary-accent, 10%);
		background-color: $color-primary-accent;
	}

	.contribute-method {
		display: inline-block;
		width: 33.3333333%;
		text-align: center;
		padding: 5px 0;
		border-left: 1px solid darken($color-primary-accent, 10%);
		font-size: 13px;
		font-family: $font-roboto-bold;
		background-color: $color-primary-accent;
		color: $color-white;
		text-decoration: none;

		&:first-child {
			border-left: 0 none;
		}

		&:hover {
			background-color: darken($color-primary-accent, 10%);
		}
	}

  .actions {
    text-align: center;
    background-color: $color-white;
    padding: 20px;

    h2 {
      margin-top: 0;
    }

    .action {
      margin: 10px 0;
    }

    a.cbutton {
      display: block;
      margin: 0 30px;
      width: auto;
    }
  }

  .share {
    padding: 15px;
    background: #f5f5f5;
    border-top: 1px dotted $color-grey-d0;

    .share-heading {
      text-align: left;
      font-size: 14px;
      color: $color-grey-aa;
      margin-bottom: 5px;
    }

    .si {
      display: inline-block;
      vertical-align: top;
      margin: 0 5px;
    }
  }

  .copy_link {
    margin-top: 15px;

    input[type=text] {
      width: 100%;
    }
  }

  .embed_link {
	  margin-top: 15px;

    textarea {
      width: 100%;
      height: 40px;
      overflow: hidden;
      resize: none;
    }

    .toggle_preview {
      float: right;
      font-size: 12px;
	    margin-top: 2px;
	    @include style-content-link;
    }

    .preview {
      display: none;

      iframe {
        border: none;
      }
    }
  }
}

.nonmobile-project-meta {
	@include breakpoint($bp-tablet-portrait-and-lower) {
		.info {
			display: none;
		}
	}
}

.mobile-project-meta {
	display: none;

	@include breakpoint($bp-tablet-portrait-and-lower) {
		display: block;
		margin: 20px 0;
	}
}

.journal {
	border-bottom: 1px dotted $color-grey-d0;
	margin: 0 0 10px;

	&.last {
		border-bottom: none;
		margin: 0;
	}

	.title h2 {
		margin: 0;
	}

	.date {
		color: #999;
		font-size: 14px;
	}

	.entry {
		line-height: 1.4;
		font-size: 13px;
	}
}

.supporters .micro_tile .photo {
  width: 100px;
  height: 100px;
}

.contribute-paths {
	box-shadow: 1px 1px 5px rgba($color-black, 0.3);
	background-color: $color-white;
	padding: 20px;
	margin-bottom: 20px;
}

.contribute-path {
	margin-top: 60px;
}

#shop {
	margin-top: 0;
}

.contribute-path-header {
	h3 {
		margin: 0 0 10px;
		border-bottom: 1px solid $color-secondary-accent;
		padding-bottom: 5px;
	}
}

.contribute-path-content {
	font-size: 14px;
}

.contribute-form {
	.intro {
		margin-bottom: 15px;
	}

	.fields {
		margin-top: 25px;
	}

	.field-label {
		font-family: $font-roboto-medium;
		display: block;
	}

	.field {
		&.suggestions {
			.suggestion {
				display: inline-block;
				vertical-align: middle;
				margin-right: 15px;

				.other input {
					width: 70px;
					margin-left: 5px;
				}
			}

			.suggestion-label {
				margin-left: 5px;
			}
		}
	}

	.action {
		margin: 5px 0 25px;
	}

	.message-container {
		margin: 15px 0 0;
	}
}

.gallery {
	@include clearfix();

	.gi {
		width: 130px;
		height: 100px;
		overflow: hidden;
		float: left;
		cursor: pointer;
		position: relative;
		background: $color-grey-33;
		margin: 10px;

		&:hover {
			.overlay {
				border-bottom-color: $color-primary-accent;
			}
		}

		.overlay {
			border-bottom: 5px solid transparent;
			transition: all 250ms;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 10;
		}

		.img {
			display: block;
		}
	}
}

.activity-feed {

	@include breakpoint($bp-tablet-portrait-only) {
		.simple-tile {
			display: inline-block;
			vertical-align: top;
			width: 50%;

			&:nth-child(even) {
				padding-right: 10px;
			}
		}
	}
}

#report {
  margin: 20px 0;
}

.store_chooser {
	.details {
		float: none;
		width: auto;
		padding-right: 0;
		margin-right: 0;
		border-right: none;
	}

	form .inner {
		margin-left: 0;
		text-align: center;
	}
}

#shop {
	.more {
		margin-top: 10px;
		text-align: center;

		.intro {
			margin-bottom: 10px;
		}
	}
}

//at time of writing this is only for the favoriting a project while a guest
.popup-content {
	padding: 20px;

	.actions {
		text-align: center;

		.sbutton {
			margin-top: 5px;
		}
	}
}