@import "../../config/base-import";

.featured_banners {
	margin-bottom: 15px;
}

.search_listing .paging {
  margin: 10px 0 20px; 
}

#search {
	.search_box {
		margin-top: 20px;
		display: none;
	}

	@include breakpoint($bp-tablets-portrait) {
		.search_box {
			display: block;
			float: right;
			margin-top: 14px;
			width: 200px;
		}
	}
}

#aside {
	.search_box {
		margin: 20px 0;
	}

	@include breakpoint($bp-tablets-portrait) {
		display: none;
	}
}

#main {
	float: none;
  width: auto;
}