.retrieve_password div.email,
.password-reset .username,
.password-reset .password,
.password-reset .password-verification-con {
  background: none repeat scroll 0 0 #EAEAEA;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  margin: 0 0 10px;
  padding: 10px 3px;
}

.retrieve_password span.email,
.password-reset .label {
  color: #333333;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  margin-right: 15px;
  padding: 5px 0 4px 10px;
  vertical-align: top;
  width: 170px;
  text-align: left;
}

.password-reset .title {
  display: none;
}


