@import "../../config/base-import";

#featured {
	position: relative;
}

.banner-slide {
	height: 260px;

	@include breakpoint($bp-tablets-portrait) {
		height: 430px;
	}
}

.banner-slide-content {
	background-color: $color-grey-33;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;

	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: radial-gradient(600px at 50% 50% , rgba($color-black, 0.5) 0%, rgba($color-black, 0));
	}
}

.intro-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.intro-text-image {
	display: block;

	@include breakpoint($bp-mobile-only) {
		width: 200px;
		height: auto;
		margin: 0 auto;
	}
}

.intro-text-link {
	margin-top: 20px;
}

.intro-ctas {
	padding: 40px 0;
	text-align: center;

	.cta {
		max-width: 160px;
		margin: 0 auto 45px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.cta-text {
		font-size: 16px;
		font-family: $font-robotoslab-regular;
		color: $color-grey-4e;
	}

	.cta-link {
		text-decoration: none;
	}

	@include breakpoint($bp-tablets-portrait) {
		.cta {
			display: inline-block;
			vertical-align: top;
			width: 33%;
			margin-right: 75px;
			margin-bottom: 0;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}