$sizing-feature-store-tile: 100px;
$spacing-feature-store-tile-side: 6px;
$feature-store-tile-total-width: $sizing-feature-store-tile + ($spacing-feature-store-tile-side * 2);

.feat_stores {
	width: 2 * $feature-store-tile-total-width;
	margin: 0 auto;
	@include clearfix();

	@include breakpoint($bp-mobile-landscape) {
		width: 4 * $feature-store-tile-total-width;
	}

	@include breakpoint($bp-tablets-portrait) {
		width: 6 * $feature-store-tile-total-width;
	}
}

.feat_store_tile {
	background: $color-white;
	width: $sizing-feature-store-tile;
	height: $sizing-feature-store-tile;
	display: inline-block;
	vertical-align: top;
	margin: $spacing-feature-store-tile-side;
	box-shadow: 1px 1px 4px rgba($color-black, 0.2);
	position: relative;
	overflow: hidden;
	border-radius: 4px;

	.tile_link {
		display: block;

		&:hover {
			.info {
				top: 0;
				opacity: 1;
			}
		}
	}

	.info {
		opacity: 0;
		transition: all 400ms;
		background: $color-primary-accent;
		color: $color-white;
		position: absolute;
		top: 20px;
		right: 0;
		bottom: 0;
		left: 0;
		font-size: 12px;
		border-radius: 4px;
		text-align: center;

		.percent {
			.label {
				margin-top: 25px;
				display: block;
				color: change_color($color-primary-accent, $lightness: 90%);
			}

			.val {
				display: block;
				font-size: 20px;
			}
		}
	}

	.name {
		display: none;
	}
}