$sizing-feature-store-tile: 100px;
$spacing-feature-store-tile-side: 6px;

.store-tile-featured-set {
	margin: 0 auto;
	@include clearfix();

	.store-tile-featured {
		width: 50%;
	}

	@include breakpoint($bp-mobile-landscape) {
		.store-tile-featured {
			width: 25%;
		}
	}

	@include breakpoint($bp-tablets-portrait) {
		.store-tile-featured {
			width: 16.666666666%;
		}
	}

	&.project-store-tile-set {
		@include breakpoint($bp-tablets-portrait) {
			.store-tile-featured {
				width: 20%;
			}
		}
	}
}

.store-tile-featured {
	display: inline-block;
	vertical-align: top;
	text-align: center;

	.tile_link {
		@include style-tile-base($radius: 4px);
		display: block;
		box-shadow: 1px 1px 4px rgba($color-black, 0.2);
		margin: $spacing-feature-store-tile-side;
		height: $sizing-feature-store-tile;

		&:hover {
			.info {
				top: 0;
				opacity: 1;
			}
		}
	}

	.photo {
		img {
			max-width: 100%;
			height: auto;
		}
	}

	.info {
		opacity: 0;
		transition: all 400ms;
		background: $color-primary-accent;
		color: $color-white;
		position: absolute;
		top: 20px;
		right: 0;
		bottom: 0;
		left: 0;
		font-size: 12px;
		border-radius: 4px;

		.percent {
			.label {
				margin-top: 25px;
				display: block;
				color: change_color($color-primary-accent, $lightness: 90%);
			}

			.val {
				display: block;
				font-size: 20px;
			}
		}
	}

	.name {
		display: none;
	}
}