$sizing-large-tile: 210px;
$spacing-large-tile-side: 10px;
$large-tile-total-width: $sizing-large-tile + ($spacing-large-tile-side * 2);

.project-tile-set {
	@include clearfix;
	width: $large-tile-total-width;
	margin: 0 auto;

	.paging {
		margin: 0 0 20px;
	}

	@include breakpoint($bp-mobile-landscape) {
		width: 2 * $large-tile-total-width;
	}

	@include breakpoint($bp-tablets-portrait) {
		width: 3 * $large-tile-total-width;
	}

	&.full-tile-set {
		@include breakpoint($bp-tablets-landscape) {
			width: 4 * $large-tile-total-width;
		}
	}

	.project-tile {
		.info {
			height: auto;
		}

		.description {
			display: none;
		}

		@include breakpoint($bp-tablets-portrait) {
			.info {
				height: 120px;

				&:after {
					display: block;
				}
			}

			.description {
				display: block;
			}
		}
	}
}

.project-tile {
	@include style-tile-base;
	width: $sizing-large-tile;
	margin: 0 $spacing-large-tile-side 25px;

	.photo {
		overflow: hidden;
		background-color: $color-white;
		width: 210px;
		height: 180px;
		text-align: center;
		border-radius: 6px 6px 0 0;

		a,
		img {
			display: block;
		}
	}

	.category {
		background-color: #aeaeae;
		padding: 5px 10px;
		color: $color-white;
		font-size: 14px;
		text-transform: uppercase;
	}

	.info {
		height: 120px;
		padding: 7px 10px;
		position: relative;

		&:after {
			content: "";
			display: none;
			position: absolute;
			left: 0;
			bottom: 0;
			height: 25px;
			right: 0;
			background: linear-gradient(to top, $color-white 20%, transparent);
		}
	}

	.name {
		display: inline-block;

		a {
			@include style-content-link;
			display: block;
			font-family: $font-roboto-bold;
			font-size: 14px;
		}
	}

	.parent {
		font-size: 11px;
		color: $color-grey-99;
		margin-bottom: 5px;

		.label {
			float: left;
			margin-right: 3px;
		}

		.val {
			color: $font-default-color;
			text-decoration: none;
			display: block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.description {
		font-size: 12px;
		line-height: 1.3;
	}

	.meta {
		padding: 10px;
		text-align: center;
		background-color: $color-grey-f9;
		border-radius: 0 0 6px 6px;

		.stats {
			.stat {
				display: inline-block;
			}

			.progress {
				font-weight: bold;
				font-size: 20px;
			}

			.goal {
				display: block;
				margin: 0 0 5px;
				color: #888;
				font-size: 12px;
			}
		}
	}

	@include breakpoint($bp-tablets-portrait) {
		.info {
			overflow: hidden;

			&:after {
				display: block;
			}
		}

		.description {
			display: block;
		}
	}
}