$sizing-store-tile: 210px;
$spacing-store-tile-side: 10px;
$store-tile-total-width: $sizing-store-tile + ($spacing-store-tile-side * 2);

.store-tile-set {
	margin: 0 auto;
	width: $store-tile-total-width;
	@include clearfix();

	@include breakpoint($bp-mobile-landscape) {
		width: 2 * $store-tile-total-width;
	}

	@include breakpoint($bp-tablets-portrait) {
		width: 3 * $store-tile-total-width;
	}

	&.full-tile-set {
		@include breakpoint($bp-tablets-landscape) {
			width: 4 * $store-tile-total-width;
		}
	}
}

.store-tile {
	@include style-tile-base;
	padding: 10px;
	width: $sizing-store-tile;
	margin: 0 $spacing-store-tile-side 25px;

	.info {
		position: relative;
		height: 78px;
		overflow: hidden;

		&:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			height: 25px;
			right: 0;
			background: linear-gradient(to top, $color-white 20%, transparent);
		}
	}

	.name {
		font-family: $font-roboto-bold;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		color: $color-grey-66;
		margin-bottom: 5px;
	}

	.description {
		height: 48px;
		font-size: 12px;
		line-height: 1.3;

		p {
			margin-top: 0;
		}
	}

	.photo {
		width: 100px;
		height: 70px;
		margin-left: auto;
	}

	.percent {
		float: left;
		width: 80px;
		margin-right: 10px;
		background-color: #f0f0f0;
		color: $color-grey-77;
		padding: 10px 0;
		text-align: center;
		font-size: 12px;
		font-family: $font-arial;
		text-transform: uppercase;
		font-weight: bold;

		.label {
			display: block;
		}

		.val {
			font-size: 18px;
			color: $color-secondary-accent;
		}
	}

	.actions {
		text-align: center;
		margin-top: 10px;
	}

	.manage-actions {
		margin-top: 0;
		margin-bottom: 10px;
	}

	.action {
		display: inline-block;
	}
}